@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');




html {
    background-color: brown;
}
body {
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    color: aliceblue;
}

h1 {
width: 100%;
align-self: center;
text-align: center;}


main ul, header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 0;
    
    
}

main h2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color:aliceblue;
    font-style: Arial, Helvetica, sans-serif;
}

img {
    width: 50%;
    padding: 50px;
}

footer {
    color: black;
    width: 1000px;
    padding: 10px 0;



}

footer img, footer ul{
    display: flex;
    width: 70%;
    list-style: none;
    justify-self: center;
    flex-direction: row;    
}